html{
  scroll-behavior: smooth;

}
body{
  background-color: #E1DDDB;
  margin: 0;
}
.parent{
  position: fixed;
  margin: auto;
  width: 100%;
}
nav h1{
  color: white;
  font-family: 'Fuggles', serif;
  font-size: 61px;
  margin-left: 25px;
  line-height: 10px;
}
nav{
  background-color: #39401F;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}
.links{
  display: flex;
  flex-direction: row;
  align-items: center;
}
a{
  color: white;
  font-style: normal;
  text-decoration: none;
}
nav a{
  padding: 0 1.2vw 0 1.2vw;
  font-family: 'Zen Loop', sans-serif;
}
main{
  padding-top: 9%;
  max-width: 100%;
}

.welcome-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.reserve-button {
  position: absolute;
  bottom: 10%;
  right: 12%;
  background-color: #969691;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.text-box{
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;
}
#Welcome h1{
  font-size: 60px;
  font-family: sans-serif;
  text-align: center;
}
#Welcome p{
  font-size: 20px;
}
.facilities{
  display:flex;
  flex-direction:row;
}/* TODO: center */
.facility-item{
  display:flex;
  flex-direction:row-reverse;
  align-items: center;
  margin-right:2em;
  font-size: 25px;
}
#Description{
  padding-top: 90px;
}
iframe{
  margin: 8% 0 8% 0;
}
.description-text{
  max-width: 70%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 1024px){
  nav h1{
    line-height: 50px;
  }
}
@media screen and (max-width: 878px){
  .links{
    flex-wrap: wrap;
    margin-left: 15px;
  }
  main{
    padding-top: 40%;
  }
  iframe{
    width: 300px;
    height: 200px;
  }
  /* FIXME: find another method, it doesn t work well */
  .airbnb-embed-frame{
    max-width: 90%;
  }
}
@media screen and (max-width: 546px){
  main{
    padding-top: 60%;
  }
}
